.header {
    background-color: #181818;
    color: #fff;
    padding: 0px 15px;
    -webkit-box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.75);
box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.75);
}