@import "src/styles/_vars.scss";

.header {
  display: block;
  color: #fff;
  padding: 0 $lg;
  background-color: #181818;
  box-shadow: 0 $sm $lg 0 rgba(0,0,0,0.75);
}

.header__inner {
  padding: $xl;
}
